body {
    background-color: rgb(193, 17, 209);
}

.game {
    display: grid;
}

.button {
    box-sizing: border-box;
    margin: 2px;
    padding: 2px;
    width: 50%;
    height: 100px;
    border-radius: 35px;
}