body {
    background-color: rgb(193, 17, 209);
    box-sizing: border-box;
}

header h1 {
    text-align: right;
    
}


/*-----------Navagation--------------*/

button#hamburgerBtn { 
    background: #0AF8F9;
    border: 1px solid #000;
    color: #000;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 10px 3px 10px;
    }

nav {
    position: fixed;
    top: 80px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li.active {
    background-color: rgba(0,0,0,0.5);
}

nav a:hover {
    background-color: rgba(0,0,0,0.2);
}

nav ul.open {
    display: block;
}

nav ul {
    display: none;
}

nav ul li {
    list-style-type: none;
    padding: 10px 10px;
    text-align: center;
    background-color: #0AF8F9;    
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

/*----------Game----------*/

.button {
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    width: 100%;
    height: 130px;
    border-radius: 35px;
    background-color: #0AF8F9;
    font-size: 14px;
    font-weight: 300;
    justify-content: center;
    box-shadow: 5px 5px 5px #555;
}

#main {
    display: flex;
    justify-content: right;
    margin-top: 70px;
    margin-right: 10px;
}

.moneyCount {
    width: 30%;
    position: fixed;
    top: 210px;
    left: 30px;
}

#mainGame {
    width: 57%;    
}

#mainGame h1 {
    text-align: right;
}

/*----------Medium Media Query------------*/

@media only screen and (min-width: 768px) {

header h1 {
    text-align: center;
}

nav {
    display: none;
}

#mainGame {
    display: flex;
    width: 80%;
}

#flowerShop {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: left;
    padding-right: 5px;
}

#upgrades {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
    justify-content: right;
    padding-left: 5px;
}

#mainGame h1 {
    text-align: center;
}

}

/*-----------Large Media Query---------------*/

@media only screen and (min-width: 1024px) {

nav {
    display: none;
}

.button {
    justify-self: stretch;
}

#mainGame {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr, 1fr, .25fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
    grid-column: 1/ span 1;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

#flowerShop {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr, 1fr, .25fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
    grid-column: 1/ span 1;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

#upgrades {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr, 1fr, .25fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
    grid-column: 2/ span 1; 
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

#flowerh1 {
    grid-column: 1;
    grid-row: 1;
}

#upgradesh1 {
    grid-column: 4;
    grid-row: 1;
}

#b1 { 
    grid-column: 1;
    grid-row: 2;
}

#b2 {
    grid-column: 2;
    grid-row: 2;
}

#b3 {
    grid-column: 1;
    grid-row: 3;
}

#b4 {
    grid-column: 2;
    grid-row: 3;
}

#b5 {
    grid-column: 1;
    grid-row: 4;
}

#b6 {
    grid-column: 2;
    grid-row: 4;
}

#b7 {
    grid-column: 1;
    grid-row: 5;
}

#b8 {
    grid-column: 2;
    grid-row: 5;
}

#b9 {
    grid-column: 4;
    grid-row: 2;
}

#b10 {
    grid-column: 5;
    grid-row: 2;
}

#b11 {
    grid-column: 4;
    grid-row: 3;
}

#b12 {
    grid-column: 5;
    grid-row: 3;
}

#b13 {
    grid-column: 4;
    grid-row: 4;
}

#b14 {
    grid-column: 5;
    grid-row: 4;
}

#b15 {
    grid-column: 4;
    grid-row: 5;
}

#b16 {
    grid-column: 5;
    grid-row: 5;
}

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }