body {
    background-color: rgb(193, 17, 209);
}

aside {
    display: flex;
}

main {
    display: flex;
}

.button {
    display: flex;
    box-sizing: border-box;
    margin: 2px;
    padding: 35px;
    width: 100%;
    height: 100px;
    border-radius: 35px;
    text-align: left;
    background-color: rgb(181, 240, 240);
    font-size: 10px;
}

